body {
  text-align: center;
  background-color: #1f1f1f;
}

h1 {
  font-size: 5rem;
  color: #b5ff61;
  font-family: 'Lobster', cursive;
  text-shadow: 3px 0 #ffffff;

}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #4f6940;
  font-size: 5rem;
  font-family: 'Lobster', cursive;
  line-height: 2;
  font-weight: 900;
  color: #8fda04;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: rgb(32, 32, 32);
}